# Ignore large output files
/build/Results/Analysis_float_12/Stats_float_12_bits.txt
/home/bilal-linux/Research/llama2.cpp/build/Results/Analysis_float_12/Stats_float_12_bits.txt
/home/bilal-linux/Research/llama2.cpp/src/model/model.bin
